{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Search{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="search"> 
    <form method="post">
      <label for="search">Search</label>
      <input name="keyword" id="keyword" required>
      <input type="submit" value="Search">
    </form>
  </div>
{% if g.user %}
{% endif %}
  
{% for book in books %}
<article class="book">
  <header>
    <div>
      <h2><a href="{{url_for('record.record',isbn=book['isbn'])}}"> {{ book['title'] }}</a> </h2>
      <div class="about">
        <p>{{ book['author'] }}</p>
        <p>{{ book['publisher'] }}</p>
        <p>{{ book['isbn'] }}</p>
        
    </div>
  </header>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}