{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Record{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
      <h2><a href="{{url_for('record.record',isbn=book['isbn'])}}"> {{ book['title'] }}</a> </h2>
      <div class="about">
        <p>author: {{ book['author'] }}</p>
        <p>publisher: {{ book['publisher'] }}</p>
        <p>ISBN: {{ book['isbn'] }}</p>
        
    </div>
      <form name='updateStatus' method="post">
          <input type="radio" name="status" value="read">読んだ<br>
          <input type="radio" name="status" value="reading">読んでいる<br>
          <input type="radio" name="status" value="wish">読みたい<br>
          <br>
          <div id="rating">Rating<br> 
          1   2   3   4  5<br>
          <input type="radio" name="rating" value="1">
          <input type="radio" name="rating" value="2">
          <input type="radio" name="rating" value="3">
          <input type="radio" name="rating" value="4">
          <input type="radio" name="rating" value="5">
        </div><br>
          <label for="body">comment</label>
          <textarea name="comment" id="comment" value="{{ record.comment }}"></textarea>
          <input type="submit" value="更新">
      </form>
      </p>
  </div>
  </header>
    <!-- <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save"> -->
{% endblock %}